<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar" slots="start" >
    <ion-buttons slot="start" size="large">
      <ion-menu-button autoHide="false">
        <ion-icon src="../../assets/icon/menu.svg" style="color: white;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" size="large">
      <ion-menu-button auto-hide="false">
        <app-notification></app-notification>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Deal Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <h4 style="color:#0077BD"><u>Deal Record</u></h4>
  </ion-item>

  <ion-card style=" margin: 0px !important; overflow-x:auto">
    <ion-card-content>
      <table class="table table-striped w-auto">
        <thead class="bg-primary text-white text-center">
          <tr>
            <th >Particulars                                        </th>
            <th >Customer Deal                                    </th>
            <th>Narration                                      </th>
            <th>Office Deal                                </th>
          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let item of booking_deal_api">
          <td>{{item.name}}</td>
          <td>&#x20B9; {{item.office}}</td>

          <td>{{item.narration}}</td>
          <td>&#x20B9; {{item.customer}}</td>

          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card><br>

</ion-content>
