ion-fab-button{
  --background: #0077BD;
}
ion-fab-list{
  ion-fab-button{
    --background: #0077BD;
  }
}
.floating-btn{
  margin: 2.5%;
}

.booking_card{
  border-left: 5px #0077BD solid;
  border-right: 1px #0077BD solid;
  border-bottom: 1px #0077BD solid;
  border-top: 1px #0077BD solid;
  margin: 5%;
}
ion-card{
  --color: #002D47
}

.toolbar{
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;

}
ion-toolbar{
  --background: #0077BD;
  --color: white;
}


ion-searchbar{
  --background: rgb(211, 211, 237);
  --border-radius: 10px;
  --cancel-button-color: black;
  --color: #002D47;
  --placeholder-color: #002D47
}



tbody {
  display: block;
  overflow: auto;
  height: 600px;
  width: auto;
}

thead tr {
  display: table;
  width: 1400px;
  table-layout: fixed;
}

thead, tbody tr {
  display: table;
  width: 1400px;
  table-layout: fixed;
}

thead {
  width: calc( 100% - 1em )
}





