.container {
  // margin-top: 20%;
  // height: 10%;

}
.loginsection{
  // max-height: fit-content;
  max-height: 100%;
  // max-height: max-content;
  width: 100%;
  background-color: #0077BD;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.inputfield{
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
}

ion-input{
  --background: #f6fafd;
  --color: #002D47;
  --padding-top: 5%;
  --padding-bottom: 5%;
  --placeholder-color: #002D47;

}

ion-button{
  --background: #002D47;
  --border-radius: 15px;
}
