.toolbar{
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
  
  }
  ion-toolbar{
    --background: #0077BD;
    --color: white;
  }
  .reportcount{
      text-align: center;
      height: 30px;
      width: auto;
      border-radius: 20px;
  }

  #status{
    --ion-grid-padding: 15px;
  }

.wrapper{
    max-height: auto;
    
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper .item{
    
    min-width: 110px;
    height: auto;
    text-align: center;
    margin-left: 4%;
    padding: 2%;
}