#detailbookingimg{
  margin-top:10px;
  border-bottom: 5px rgb(103, 103, 232) solid; ;
}
.detailbookingcard{
  border-top: 5px rgb(103, 103, 232) solid;
  border-bottom: 5px rgb(103, 103, 232) solid;
}

.toolbar{
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;

}
ion-toolbar{
  --background: #0077BD;
  --color: white;
}
