.deshboardbookingcard{
  // background: rgb(71, 133, 248);
  background-image: linear-gradient(#3880FF , #83B4FF);
  // box-shadow: 0px 0px 5px 5px  rgb(51, 133, 248);
}
.deshboardpaymentcard{
  background-image: linear-gradient(#ff3232 , #ff7f7f);
}
.deshboardinventorycard{
  background-image: linear-gradient(#4eff4e , #76ff76);
  width:400px;
  height: 180px;
}
.deshboardregistercard{
  background-image: linear-gradient(#894eff , #ef76ff);
  width:400px;
  height: 180px;
}
.searchCard{
  border: 2px solid blue;
}

.toolbar{
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;

}
ion-toolbar{
  --background: #0077BD;
  --color: white;
}
.floating-btn{
  margin: 2.5%;
}

.wrapper{
  max-height: auto;
  
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.wrapper .item{
  
  min-width: 110px;
  height: auto;
  text-align: center;
  margin-left: 4%;
  padding: 2%;
}

