<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar" slots="start" >
    <ion-buttons slot="start" size="large">
      <ion-menu-button autoHide="false">
        <ion-icon src="../../assets/icon/menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" size="large">
      <!-- <ion-menu-button auto-hide="false"> -->
        <app-notification></app-notification>
      <!-- </ion-menu-button> -->
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <!-- <ion-card style=" margin: 0px !important;">
    <ion-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title >
            <h2><b>Select Property</b></h2>
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <ion-item>
            <ion-label><b>Select Project</b></ion-label>
            <ion-select interface="popover" [(ngModel)]="selected_project" name="selected_project" (ionChange)="getApartment(selected_project)">
              <ion-select-option *ngFor="let item of project_master" [value]="item.project_id">{{item.project_name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label><b>Select Wing</b></ion-label>
            <ion-select interface="popover" [(ngModel)]="selected_wing" name="selected_wing" >
              <ion-select-option *ngFor="let item of wing_apidata" [value]="item.wingName">{{item.wingName}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label><b>Select Floor</b></ion-label>
            <ion-select interface="popover" [(ngModel)]="selected_floor" name="selected_floor">
              <ion-select-option *ngFor="let item of floor_apidata" [value]="item.floor">{{item.floor}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label><b>Select Unit</b></ion-label>
            <ion-select interface="popover" [(ngModel)]="selected_unit" name="selected_unit">
              <ion-select-option *ngFor="let item of unit_apidata" [value]="item.unit_type">{{item.unit_type}}</ion-select-option>
            </ion-select>
          </ion-item><br>

          <ion-button expand="block" (click)="getSummary()">Fetch</ion-button>
        </div>
      </mat-expansion-panel><br>
    </mat-accordion>
    </ion-card-content>
  </ion-card><br> -->

  <!-- <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label><b>Select Project</b></ion-label>
        <ion-select interface="popover" [(ngModel)]="selected_project" name="selected_project" (ionChange)="getApartment(selected_project)">
          <ion-select-option *ngFor="let item of project_master" [value]="item.project_id">{{item.project_name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label><b>Select Wing</b></ion-label>
        <ion-select interface="popover" [(ngModel)]="selected_wing" name="selected_wing" >
          <ion-select-option *ngFor="let item of wing_apidata" [value]="item.wingName">{{item.wingName}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label><b>Select Floor</b></ion-label>
        <ion-select interface="popover" [(ngModel)]="selected_floor" name="selected_floor">
          <ion-select-option *ngFor="let item of floor_apidata" [value]="item.floor">{{item.floor}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label><b>Select Unit</b></ion-label>
        <ion-select interface="popover" [(ngModel)]="selected_unit" name="selected_unit">
          <ion-select-option *ngFor="let item of unit_apidata" [value]="item.unit_type">{{item.unit_type}}</ion-select-option>
        </ion-select>
      </ion-item><br>

      <ion-button expand="block" (click)="getSummary()">Fetch</ion-button>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-slides pager="true" [options]="sliderConfig">
    <ion-slide>
      <ion-card class="deshboardbookingcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">BOOKINGS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">Today</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">0</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">14/03/2021 - 20/03/2021</ion-card-subtitle>
        </ion-card-header>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardbookingcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">BOOKINGS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">This Week</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">5</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">14/03/2021 - 20/03/2021</ion-card-subtitle>
        </ion-card-header>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardbookingcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">BOOKINGS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">This Month</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">14</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">01/03/2021 - 31/03/2021</ion-card-subtitle>
        </ion-card-header>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardbookingcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">BOOKINGS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">Last Month</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">1</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">01/02/2021 - 28/02/2021</ion-card-subtitle>
        </ion-card-header>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardbookingcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">BOOKINGS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">This Year</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">25</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">01/01/2021 - 31/12/2021</ion-card-subtitle>

        </ion-card-header>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardbookingcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">BOOKINGS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">Total</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">41</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">Broker: 23 - Direct: 18</ion-card-subtitle>

        </ion-card-header>

      </ion-card>
    </ion-slide>
  </ion-slides> -->

  <!-- <ion-slides pager="true" [options]="sliderConfig">
    <ion-slide>
      <ion-card class="deshboardpaymentcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">PAYMENTS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">Today</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">0</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">&nbsp;&nbsp;&nbsp;&nbsp;Basic: 0.00 - GST:00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br> </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="deshboardpaymentcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">PAYMENTS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">This Week</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">7,55,622</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">Basic: 6,60,997.00 - GST:94,625.00</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="deshboardpaymentcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">PAYMENTS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">This Month</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">34,37,372</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">Basic: 33,42,747.00 - GST:94,625.00</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="deshboardpaymentcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">PAYMENTS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">Last Month</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">13,15,292</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">Basic: 9,88,000.00 - GST: 3,27,292.00</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="deshboardpaymentcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">PAYMENTS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">This Year</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">1,04,66,490</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">BASIC: 97,75,315.00 - GST: 6,91,175.00</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="deshboardpaymentcard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">PAYMENTS</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">Total</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">1,23,08,016</ion-card-title><br>
          <ion-card-subtitle style="color: whitesmoke;">BASIC: 1,15,86,003.00 - BASIC: 1,15,86,003.00</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides> -->

  <!-- <ion-slides pager="true" [options]="sliderConfig">
    <ion-slide>
      <ion-card class="deshboardregistercard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">REGISTRATION</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">Registered</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">11</ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardregistercard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">REGISTRATION</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">Not Registered</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">30</ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardregistercard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">REGISTRATION</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">> 30 Days</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">9</ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardregistercard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">REGISTRATION</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;"> > 90 Days</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">7</ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardregistercard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">REGISTRATION</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;"> > 180 Days</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">0</ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardregistercard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">REGISTRATION</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;"> > 360 Days</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">0</ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides> -->

  <!-- <ion-slides pager="true" [options]="sliderConfig">
    <ion-slide>
      <ion-card class="deshboardinventorycard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">INVENTORY</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">All</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">176</ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardinventorycard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">INVENTORY</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">Available</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">125</ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardinventorycard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">INVENTORY</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">SOLD</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">41</ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="deshboardinventorycard">
        <ion-card-header>
          <ion-card-subtitle style="color: whitesmoke;">INVENTORY</ion-card-subtitle>
          <ion-card-title style="color: whitesmoke;">Block</ion-card-title><br>
          <ion-card-title style="color: whitesmoke;">0</ion-card-title><br>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides> -->

  <!-- <div  [chart]="chart"></div>
  <div  [chart]="chart2"></div>
  <div  [chart]="chart3"></div>
  <div  [chart]="chart4"></div> -->

  <h1 class="ion-text-center" style="color:rgb(0, 132, 255)" ><u>Poonam Vista</u></h1>



  <h3 class="ion-text-center" style="color:rgb(0, 132, 255)" >Bookings</h3>
  <div class="wrapper">
    <div class="item" style="border: 2px solid blueviolet;"><p><b>Today</b></p> <div>0</div></div>
    <div class="item" style="border: 2px solid greenyellow;"><p><b>This Week</b></p>0<p></p></div>
    <div class="item" style="border: 2px solid gold;"><p><b>This Month</b></p> <p>2</p></div>
    <div class="item" style="border: 2px solid blue;"><p><b>Last Month</b></p> <p>0</p></div>
    <div class="item" style="border: 2px solid blueviolet;"><p><b>This Year</b></p>2 <p></p></div>
    <div class="item" style="border: 2px solid green;"><p><b>Total</b></p> <p>2</p></div>
  </div>

  <h3 class="ion-text-center" style="color:rgb(0, 132, 255)" >Payments</h3>
  <div class="wrapper">
    <div class="item" style="border: 2px solid blueviolet;"><p><b>Today</b></p> <p> - </p></div>
    <div class="item" style="border: 2px solid greenyellow;"><p><b>This Week</b></p> <p> - </p></div>
    <div class="item" style="border: 2px solid gold;"><p><b>This Month</b></p> <p>5,00,000.00</p></div>
    <div class="item" style="border: 2px solid blue;"><p><b>Last Month</b></p> <p> - </p></div>
    <div class="item" style="border: 2px solid blueviolet;"><p><b>This Year</b></p> <p>5,00,000.00</p></div>
    <div class="item" style="border: 2px solid green;"><p><b>Total</b></p> <p>5,00,000.00</p></div>
  </div>

  <h3 class="ion-text-center" style="color:rgb(0, 132, 255)" >Inventory</h3>
  <div class="wrapper">
    <div class="item" style="border: 2px solid blueviolet;"><p><b>All</b></p> <p>4</p></div>
    <div class="item" style="border: 2px solid greenyellow;"><p><b>Available</b></p> <p>2</p></div>
    <div class="item" style="border: 2px solid gold;"><p><b>Sold</b></p> <p>2</p></div>
    <div class="item" style="border: 2px solid blue;"><p><b>Block</b></p> <p>0</p></div>
  </div>

  <h3 class="ion-text-center" style="color:rgb(0, 132, 255)" >Registration</h3>
  <div class="wrapper">
    <div class="item" style="border: 2px solid blueviolet;"><p><b>Registered</b></p> <p>0</p></div>
    <div class="item" style="border: 2px solid greenyellow;"><p><b>Not Registered</b></p> <p>2</p></div>
    <div class="item" style="border: 2px solid gold;"><p><b>> 30 Days</b></p> <p>0</p></div>
    <div class="item" style="border: 2px solid blue;"><p><b>> 90 Days</b></p> <p>0</p></div>
    <div class="item" style="border: 2px solid blueviolet;"><p><b>> 180 Days</b></p> <p>0</p></div>
    <div class="item" style="border: 2px solid green;"><p><b>> 360 Days</b></p> <p>0</p></div>
  </div>

  <h3 class="ion-text-center" style="color:rgb(0, 132, 255)" >Summary</h3>
  <div class="wrapper">
    <div class="item" style="border: 2px solid blueviolet;"><p><b>Cost Sale</b></p> <p>40.00</p></div>
    <div class="item" style="border: 2px solid greenyellow;"><p><b>Amount Due</b></p> <p>20.00</p></div>
    <div class="item" style="border: 2px solid gold;"><p><b>Amount Received</b></p> <p>5.00</p></div>
    <div class="item" style="border: 2px solid blue;"><p><b>Balance Due</b></p> <p>15.00</p></div>
    <div class="item" style="border: 2px solid blueviolet;"><p><b>Balance Receivable</b></p> <p>35.00</p></div>
    <div class="item" style="border: 2px solid green;"><p><b>Interest Receivable</b></p> <p> - </p></div>
  </div>



  <ion-card style=" margin: 0px !important; overflow-x:auto">
    <ion-card-content>
      <table class="table table-striped">
        <thead class="bg-primary text-white text-center">
          <tr>
            <th scope="col">Wing Name                             </th>
            <th scope="col">Total Units                              </th>
            <th scope="col">Total Saleable                              </th>
            <th scope="col">Unit Sold                              </th>
            <th scope="col">Unit Block                              </th>
            <th scope="col">Unit Vacant                              </th>
            <th scope="col">Area Sold                              </th>
            <th scope="col">Area Block                              </th>
            <th scope="col">Area Vacant                              </th>
            <th scope="col">COA Sold                              </th>
            <th scope="col">Amount Due                              </th>
            <th scope="col">Amount Received                              </th>
            <th scope="col">Balance Due                              </th>
            <th scope="col">Balance Receivable                              </th>
            <th scope="col">Integrest                              </th>
          </tr>
        </thead>
        <tbody>
         <tr>
           <td> A </td>
           <td> 4 </td>
           <td> 2520.00 </td>
           <td> 2.00 </td>
           <td> - </td>
           <td> 2.00 </td>
           <td> 1260.00 </td>
           <td> - </td>
           <td> 1260.00 </td>
           <td> 40.00 </td>
           <td> 20.00 </td>
           <td> 5.00 </td>
           <td> 15.00 </td>
           <td> 35.00 </td>
           <td> - </td>

         </tr>
         <tr>
          <td> Total </td>
          <td> 4 </td>
           <td> 2520.00 </td>
           <td> 2.00 </td>
           <td> - </td>
           <td> 2.00 </td>
           <td> 1260.00 </td>
           <td> - </td>
           <td> 1260.00 </td>
           <td> 40.00 </td>
           <td> 20.00 </td>
           <td> 5.00 </td>
           <td> 15.00 </td>
           <td> 35.00 </td>
           <td> - </td>

        </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card><br>

  <ion-fab class="floating-btn" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="showFilterModal()">
      <ion-icon name="funnel"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
