#detailbookingimg{
  margin-top:10px;
  border-bottom: 5px rgb(103, 103, 232) solid; ;
}
.detailbookingcard{
  border-left: 5px rgb(103, 103, 232) solid;
  border-right: 5px rgb(103, 103, 232) solid;
}
