// #detailbookingimg{
//   margin-top:10px;
//   border-bottom: 5px rgb(103, 103, 232) solid; ;
// }
// .detailbookingcard{
//   border-left: 5px rgb(103, 103, 232) solid;
//   border-right: 5px rgb(103, 103, 232) solid;
// }
// ReDesign Code Below

.toolbar{
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;

}
ion-toolbar{
  --background: #0077BD;
  --color: white;
}
.slider {
  height: 180px; /* slider height you want */
  }
  .slider-slide {
   color: #000;
   background-color: #fff;
   height: 100%;
  }


.customtablestyle{
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;

  th{
    font-weight: normal;
  }

  td{
    font-weight: bold;
  }

}

