<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar" slots="start" >
    <ion-buttons slot="start" size="large">
      <ion-menu-button autoHide="false">
        <ion-icon src="../../assets/icon/menu.svg" style="color: white;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" size="large">
      <ion-menu-button auto-hide="false">
        <app-notification></app-notification>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Applicant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let item of booking_applicant_api">
      <div>
        <ion-card  style="border: 2px solid #0077BD; box-shadow: 3px 3px 3px #0077BD;">
          <ion-card-content>
            <h2>Applicant</h2>
            <p style="font-size: 12px"><b>{{item.salutation}} {{item.first_name}} {{item.last_name}}</b></p>
            <p style="font-size: 10px"><b>{{item.contact_number}}</b></p>
            <p style="font-size: 10px">{{item.permanent_address_line_1}}</p>
            <p style="font-size: 10px">Pancard: {{item.pancard}}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>


  <ion-item>
    <h4 style="color:#0077BD"><u>{{get_all_bookings_api["project_name"]}} {{get_all_bookings_api["wingName"]}} {{get_all_bookings_api["flatNo"]}}</u></h4>
  </ion-item>

  <div>
    <table class="table table-borderless customtablestyle">
      <tbody>
        <tr>
          <th>Unit Type:</th>
          <td>{{get_all_bookings_api["unit_type"]}}</td>
        </tr>
        <tr>
          <th>Floor:</th>
          <td>{{get_all_bookings_api["floor"]}}</td>
        </tr>
        <tr>
          <th>Saleable Area:</th>
          <td>{{get_all_bookings_api["saleableArea"]}} sq. ft.</td>
        </tr>
        <tr>
          <th>Rera Area:</th>
          <td>{{get_all_bookings_api["reraArea"]}} sq. mt.</td>
        </tr>
        <tr>
          <th>Booking Date:</th>
          <td>{{datastoreservice.showZeroForDate(get_all_bookings_api["booking_date"])}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <ion-item>
    <h4 style="color:#0077BD"><u>Deal Summary</u></h4>
  </ion-item>

  <div>
    <table class="table table-borderless customtablestyle">
      <tbody>
        <tr>
          <th>Rate</th>
          <td> &#x20B9;{{ datastoreservice.calRate(get_all_bookings_api["basicFlatCost"], get_all_bookings_api["saleableArea"]) }}</td>
        </tr>
        <tr>
          <th>Agreement Value:</th>
          <td>&#x20B9;{{get_all_bookings_api["agreementValue"]}}</td>
        </tr>
        <tr>
          <th>Received:</th>
          <td>&#x20B9;{{get_all_bookings_api["received"]}} </td>
        </tr>
        <tr>
          <th>Total Balance:</th>
          <td>&#x20B9;{{datastoreservice.calTotalBalance(get_all_bookings_api["agreementValue"],get_all_bookings_api["received"])}}</td>
        </tr>
        <tr>
          <th>Total Due:</th>
          <td> &#x20B9;{{get_all_bookings_api["totalDues"]}}</td>
        </tr>
        <tr>
          <th>Balance Due:</th>
          <!-- Dont Know How To Find -->
          <td>&#x20B9;{{datastoreservice.calBalanceDue(get_all_bookings_api["totalDues"])}}</td>
        </tr>
        <tr>
          <th>Total GST:</th>
          <td> &#x20B9;{{get_all_bookings_api["gstValue"]}}</td>
        </tr>
        <tr>
          <th>GST Received:</th>
          <!-- Dont Where It Is -->
          <td>&#x20B9;{{datastoreservice.showZeroForReg(get_all_bookings_api["gstValue"])}}</td>
        </tr>
        <tr>
          <th>Balance GST:</th>
          <!-- DOnt Knwo How To Find -->
          <td>&#x20B9;{{datastoreservice.calgstBalanceDetailBooking(get_all_bookings_api["gstValue"], get_all_bookings_api["gstAmount"])}}</td>
        </tr>
        <tr>
          <th>Excess Received:</th>
          <!-- DOnt Knwo How To Find -->
          <td>&#x20B9;0.00</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Chips Code Below -->
  <div style="margin:5%">
    <ion-chip color="primary">
      <ion-label> Allotment Letter</ion-label>
    </ion-chip>
    <ion-chip color="warning">
      <ion-label>NOC</ion-label>
    </ion-chip>
    <ion-chip color="success">
      <ion-label>Cost Sheet</ion-label>
    </ion-chip>
    <ion-chip color="danger">
      <ion-label>Agreement Intimation</ion-label>
    </ion-chip>
    <ion-chip color="tertiary">
      <ion-label>Agreement</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
      <ion-label>Demand Print</ion-label>
    </ion-chip>
    <ion-chip color="warning">
      <ion-label>Tax Invoice</ion-label>
    </ion-chip>
  </div>


</ion-content>
